/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*****************/
/* DEBUT ETAPE 3 */
/*****************/

/* 
Entête de page avec logo et menu de navigation
. Hauteur fixe de 79px (cf. spc maquette : 30px padding top + 19px image + 30px padding bottom
. Affichage flex et row pour une répartition horizontale du logo et de la barre de menu
. space-between : les éléments sont étirés sur tout l'axe ce qui permet d'avoir le logo à gauche et la barre de menu à droite */
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

/* 
Image du logo dans le header
. Hauteur de l'image du logo fxée à 19px (cf. spec maquette)
. Padding : marge intérieure : pas de padding à droite et à gauche, padding de 30px au dessus et au dessous de l'image 
*/
.main-header img {
    height: 19px;
    padding: 30px 0px 30px 0px;
}

/* 
Liste des items du menu
. list-style: none => on supprime les puces pour chaque item de la liste
. display: flex et direction row (par défaut) => pour que les items s'affiche horizontalement 
. gap: 68px : écart entre chaque item de la liste (cf. spec maquette) 
. margin:0 : suppression des marges extérieures pour un alignement parfait avec le conteneur header 
*/
.main-nav ul {
    list-style: none;
    display: flex;
    gap: 68px;
    margin: 0;
    padding: 0 0px 0 50px;
}

/* 
item du menu de type ancre
. font-size => taille de la police 
. font-weight => graisse
. display: flex => pour transformer un élément de type inline en un élément de type block 
    et ainsi pouvoir utiliser les propriétés de dimensionnement comme height, 
    mais aussi les propriétés de positionnement comme align-items 
. On force la hauteur à 33px => positionne le texte du lien au bon endroit et permettra d'afficher 
    la bordure bleu au bon endroit lors du survol avec la souris.
. On affiche une bordure blanche de 2 pixels qui ne se voit pas (blanc sur balnc) pour reserver l'emplacement
    et éviter un effet visuel de décalage du texte vers le bas lors du survol de la souris
. align-items: flex-end => affiche le texte du lien en bas de la zone réservée pour la balise a 
*/
.main-nav ul a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display:flex;
    height: 33px;
    border-top:white solid 2px; 
    align-items: flex-end;
}

/* 
Affichage dynamique lorsque la souris survole un item du menu
. Border-top => on fait apparaître la bordure du haut d'une épaisseur de 2 px
. height:33px => On réduit de 2 px la taille du conteneur de la balise a pour absorber le 2px pris 
    par la bordure et éviter un effet visuel de décalage du texte vers le bas lors du survol avec la souris
*/
.main-nav ul a:hover {
    color: #0065FC;
    border-top:#0065FC solid 2px;  
}


/*****************/
/* DEBUT ETAPE 4 */
/*****************/
/* 
Titre principal de la page
*/
h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

/* 
Texte dans les balises P (paragraphe)
*/
P {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;    
}

/*
Barre et Formulaire de recherche
Affichage de type Flex (direction row par défaut) pour que les éléments s'affichent horizontalement
et que l'on puisse leur appliquer des propriétés de dimensionnement.
*/
.search-bar {
    display: flex;
    margin: 35px 0;
    height: 49px;
}

/*
Icon de localisation
Affichage de type flex également qu'il ne soit plus de type inline 
de façon à pouvoir appliquer des propriétés de dimensionnement et de positionnement
*/
.search-bar i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    color: black;
    border: 1px solid var(--main-bg-color);
}

/*
Affichage de type flex également pour le conteneur du formulaire
de façon à ce que les champs occupent tout l'espace réservé, notamment en hauteur
*/
.search-form {
    display:flex;
    align-items: stretch;
    font-size: 18px;
    font-weight: 700;
}

/*
Champ de saisie des critères de recherche
On applique les propriétés de mise en forme requises par la maquette : 
. Marge intérieur (padding) gauche et droite de 24px
. Style de la bordure : pointillés
. Couleur de la bordure.
. Epaisseur de la bordure : 1px pour la bordure haute et basse, 0px pour les bordures gauche et droite pour les faire disparaître
*/
.search-form input {
    font-size:inherit;
    font-weight: inherit;
    padding: 0 24px 0 24px;
    border-style: dotted;
    border-color: var(--main-bg-color);
    border-width: 1px 0;
}


/*
Effet visuel lors du focus dans le champ input
Non demandé dans la maquette (à débattre)
Suppression du comportement par défaut lors du focus : une bordure pleine de 2px qui entoure tout le champ
au profit du changement de couleur des pointillés haut et bas
*/
.search-form input:focus {
    outline: none; 
    border-color: var(--main-bg-color);
    border-width: 2px 0;
    border-style: solid;
}

/*
Bouton de lancement de la recherche
On applique les propriétés de mise en forme requises par la maquette : 
. Marges intérieures (padding) gauche et droite de 16px
. Bords arrondis à droite 
. Non demandé dans la maquette (à débattre) : j'ai modifié l'aspect sur pointeur de la souris lors du survol du bouton
  de façon à ce qu'il soit conforme à l'affichage des CTA de type lien (plus user friendly à mon sens).
*/
.search-form button {
    font-size: inherit;
    font-weight: inherit;
    padding: 0 16px 0 16px;
    color: white;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--main-color);
    background:  var(--main-color);
    cursor: pointer;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}